<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />

    <title>@ViewData["Title"] - BlogApp</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-sm">
        <div class="container">
            <a href="/posts" class="navbar-brand"> <i class="bi bi-code"></i>  BlogApp</a>
            <ul class="navbar-nav ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">LogOut</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="/users/login" class="nav-link">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/register" class="nav-link">Register</a>
                    </li>
                }


            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>