@model List<Tag>

<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">Tags</h5>
    </div>
    <div class="card-body bg-white">
        <ul class="list-inline d-flex flex-wrap gap-2">
            @foreach (var tags in Model)
            {
                <li class="list-inline-item">
                    <a href="/posts/tag/@tags.Url" class="btn btn-outline-secondary btn-sm">@tags.TagText</a>
                </li>
            }
        </ul>
    </div>
</div>
