@model RegisterView

<div class="row bg-white rounded">
    <div class="col-12 mb-2">
        <h1>Register</h1>
        <form action="Register" method="post">

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Kullanıcı mail adresi</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-summary="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-summary="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Adı Soyadı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-summary="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Kullanıcı Şifresi</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-summary="Pasword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password2" class="form-label">Kullanıcı Şifresi Tekrar</label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-summary="Password2" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button class="btn btn-primary">Giriş</button>

        </form>
    </div>
</div>